<%= form_for @book do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
  <%= f.label :author_tokens, "authors"%><br />
  <%= f.text_field :author_tokens  %> 	
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :published_on %><br />
    <%= f.date_select :published_on %>
  </p>
  <p><%= f.submit %></p>
<% end %>
